# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data (important)
data/raw/
data/processed/

# Outputs (important)
outputs/figures/
outputs/tables/

# OS
.DS_Store
Thumbs.db

# Images
*.png
*.jpg
*.jpeg